In [57]:
#import dependencies
import pandas as pd
import numpy as np
import os
import csv

csv_path = os.path.join("Resources", "purchase_data.csv")
purchase_data = pd.read_csv(csv_path, encoding = "ISO-8859-1")
purchase_df = pd.DataFrame(purchase_data)

In [58]:
purchase_df.head()

#access the values in a row using dot notation
#purchase_df.iloc[x].SN

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [54]:
#locate last row
#total_players = purchase_df.iloc[-1]
#purchase_df["SN"] = purchase_df.iloc[:, 1:].sum(axis=1)
#total_players = sum(purchase_df["SN"])

#length of uniquie value counts
total_players = len(purchase_df["SN"].value_counts())
total_players_df = pd.DataFrame({"Total Players": [total_players]})
total_players_df

   Total Players
0            576

In [82]:
#of unique items
unique_items = len(purchase_df["Item Name"].value_counts())

#average price
average_price = round(purchase_df["Price"].mean(), 2)

#of purchases
number_of_purchases = purchase_df["Purchase ID"].count()
#total revenue
total_revenue = purchase_df["Price"].sum()

purchase_analysis_totals_df = pd.DataFrame({"Number of Unique Items": [unique_items],
                                           "Average Price": [average_price],
                                           "Number of Purchases": [number_of_purchases],
                                           "Total Revenue": ["${0:,.2f}".format(total_revenue)]})
purchase_analysis_totals_df

   Number of Unique Items  Average Price  Number of Purchases Total Revenue
0                     179           3.05                  780     $2,379.77